*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

img, video {
    max-width: 100%;
    height: auto;
}

body {
    -webkit-tap-highlight-color: transparent;
}